nav.navbar a {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
    font-weight: bold;
}

.logo1{
    width: 100%;
    border-radius: 1rem;
}