nav.navbar a {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace;
    font-weight: bold;
}

.logo1{
    width: 100%;
    border-radius: 1rem;
}

.thumbnail { 
    position: relative; 
} 
.caption { 
    position: absolute; 
    top: 10%; 
    left: 0; 
    width: 100%; 
}

#foto{
    filter: brightness(40%);
}

#btn-nav{
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
}